<ion-header-bar class="bar-themeCool" cache-view="false" hide-tabs="true">
    <div class="button button-clear icon iconfont icon-jiantou-left" ng-click="goNativeBack('tab.setting')"></div>
    <h1 class="title1" style="color: #fff;font-weight: normal;">{{'login_setting.modify_login_password' | translate}}</h1>
</ion-header-bar>

<ion-content class="bg-color bg-themeCool">
    <div class="payment-content box-bg">
        <div class="padding payment-tips font-12">{{'login_setting.tip' | translate}}</div>

        <div class="goPay-content">
            <div class="goPay-info">
                <div class="f-fs f-ac write goPay-s">
                    <span class="gopay-span">{{'login_setting.original_login_password' | translate}}</span>
                    <input type="password" class="goPay-input"
                           placeholder="{{'login_setting.login_password' | translate}}"
                           ng-keyup="writeClear($event, 'write')"
                           ng-focus="writeClear($event, 'write')"
                           ng-blur="writeBlur($event, 'write')"
                           ng-model="vm.oldPassword">
                    <i class="icon ion-close-circled input-del-gopay" style="padding-top: 2px;font-size: 15px;right: -5px" ng-click="vm.oldPassword=''"></i>
                </div>
            </div>
        </div>
        <div class="padding font-12 payment-tips--weak">{{'login_setting.password_need' | translate}}</div>

        <div class="goPay-content">
            <div class="goPay-info">
                <div class="f-fs f-ac write goPay-s">
                    <span class="gopay-span">{{'login_setting.new_password' | translate}}</span>
                    <input type="password" class="goPay-input"
                           placeholder="{{'login_setting.new_login_password' | translate}}"
                           ng-keyup="writeClear($event, 'write')"
                           ng-focus="writeClear($event, 'write')"
                           ng-blur="writeBlur($event, 'write')"
                           ng-model="vm.newPassword">
                    <i class="icon ion-close-circled input-del-gopay" style="padding-top: 2px;font-size: 15px;right: -5px" ng-click="vm.newPassword=''"></i>
                </div>
                <div class="f-fs f-ac write goPay-s">
                    <span class="gopay-span">{{'login_setting.confirm_again' | translate}}</span>
                    <input type="password" class="goPay-input"
                           placeholder="{{'login_setting.confirm_login_password' | translate}}"
                           ng-keyup="writeClear($event, 'write')"
                           ng-focus="writeClear($event, 'write')"
                           ng-blur="writeBlur($event, 'write')"
                           ng-model="vm.rePassword">
                    <i class="icon ion-close-circled input-del-gopay" style="padding-top: 2px;font-size: 15px;right: -5px" ng-click="vm.rePassword=''"></i>
                </div>
            </div>
        </div>
        <div class="padding font-13 payment-tips--weak">{{'login_setting.password_info' | translate}}</div>
        <div class="padding-top padding-horizontal f-c">
            <div class="btn-box f-ac f-c btn-box--mt" ng-click="vm.changePassword()">
                <button class="btn-box--main f-ac f-c">{{'login_setting.modify_password' | translate}}</button>
            </div>
        </div>
    </div>
</ion-content>
