<ion-header-bar class="bar-themeCool" cache-view="false" hide-tabs="true">
    <div class="button button-clear icon iconfont icon-jiantou-left" ng-click="goNativeBack('tab.setting')"></div>
    <h1 class="title1" style="color: #fff;font-weight: normal;">{{'repay_setting.modify_pay_password' | translate}}</h1>
</ion-header-bar>
<ion-content class="bg-color bg-themeCool">
    <div class="payment-content box-bg">
        <div class="padding payment-tips font-12">
            {{'repay_setting.tip' | translate}}
        </div>
        <div class="goPay-content">
            <div class="goPay-info">
                <div class="f-fs f-ac write goPay-s">
                    <span class="gopay-span">{{'repay_setting.original_password' | translate}}</span>
                    <input type="password" class="goPay-input"
                           placeholder="{{'repay_setting.pay_password' | translate}}"
                           ng-keyup="writeClear($event, 'write')"
                           ng-focus="writeClear($event, 'write')"
                           ng-blur="writeBlur($event, 'write')"
                           maxlength="22"
                           ng-model="vm.oldPassword">
                    <i class="icon ion-close-circled input-del-gopay" ng-click="vm.oldPassword=''"></i>
                </div>
            </div>
        </div>
        <div class="padding font-12 payment-tips--weak">
            {{'repay_setting.password_need' | translate}}
        </div>
        <div class="goPay-content">
            <div class="goPay-info">
                <div class="f-fs f-ac write goPay-s">
                    <span class="gopay-span">{{'repay_setting.new_password' | translate}}</span>
                    <input type="password" class="goPay-input"
                           placeholder="{{'repay_setting.new_pay_password' | translate}}"
                           ng-keyup="writeClear($event, 'write')"
                           ng-focus="writeClear($event, 'write')"
                           ng-blur="writeBlur($event, 'write')"
                           maxlength="22"
                           ng-model="vm.newPassword">
                    <i class="icon ion-close-circled input-del-gopay" ng-click="vm.newPassword=''"></i>
                </div>
                <div class="f-fs f-ac write goPay-s">
                    <span class="gopay-span">{{'repay_setting.confirm_again' | translate}}</span>
                    <input type="password" class="goPay-input"
                           placeholder="{{'repay_setting.confirm_pay_password' | translate}}"
                           ng-keyup="writeClear($event, 'write')"
                           ng-focus="writeClear($event, 'write')"
                           ng-blur="writeBlur($event, 'write')"
                           maxlength="22"
                           ng-model="vm.rePassword">
                    <i class="icon ion-close-circled input-del-gopay" ng-click="vm.rePassword=''"></i>
                </div>
            </div>
        </div>
        <div class="padding font-13 payment-tips--weak">
            {{'repay_setting.can_not_find' | translate}}
        </div>
        <div class="padding padding-horizontal f-c">
            <div class="btn-box f-ac f-c btn-box--mt" ng-click="vm.changePassword()">
                <button class="btn-box--main f-ac f-c">{{'repay_setting.modify_password' | translate}}</button>
            </div>
        </div>
    </div>
</ion-content>